{% extends generic_layout %}

{% block head_title %}Admin Peinture{% endblock %}
{% block main_title %}Administration - Peinture{% endblock %}

{% block style_additional %}
	<link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/js/redactor/css/redactor.css" />
{% endblock %}
{% block script_additional %}
	{% import "index/macro.html.twig" as macro %}
	{{ macro.redactor() }}
{% endblock %}

{% block main_content %}
{% form_theme form 'Form/fields.html.twig' %}

{{ form_start(form, {'method' : 'post', 'action' : path('paintingadmin_create'), 'attr': {'novalidate': 'novalidate'} }) }}
	<table class="form_grid">
		<tr>
			<th>{{ form_label(form.title) }}</th>
			<td><div class="errors">{{ form_errors(form.title) }}</div>{{ form_widget(form.title, {'attr':{'class':'full_width form-control'}}) }}</td>
		</tr>
		<tr id="text_container">
			<th>{{ form_label(form.text) }}</th>
			<td><div class="errors">{{ form_errors(form.text) }}</div>{{ form_widget(form.text, { 'attr' : { 'class' : 'redactor' }}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.yearStart) }}</th>
			<td><div class="errors">{{ form_errors(form.yearStart) }}</div>{{ form_widget(form.yearStart, {'attr':{'class':'full_width form-control'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.yearEnd) }}</th>
			<td><div class="errors">{{ form_errors(form.yearEnd) }}</div>{{ form_widget(form.yearEnd, {'attr':{'class':'full_width form-control'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.height) }}</th>
			<td>
				<div class="errors">
					{{ form_errors(form.height) }}
				</div>
				<div class="input-group">
				{{ form_widget(form.height, {'attr':{'class':'full_width form-control'}}) }}
				<div class="input-group-addon">cm</div></div>
			</td>
		</tr>
		<tr>
			<th>{{ form_label(form.width) }}</th>
			<td>
				<div class="errors">
					{{ form_errors(form.width) }}
				</div>
				<div class="input-group">
				{{ form_widget(form.width, {'attr':{'class':'full_width form-control'}}) }}
				<div class="input-group-addon">cm</div></div>
			</td>
		</tr>
		<tr id="photo_container">
			<th>{{ form_label(form.photo) }}</th>
			<td><div class="errors">{{ form_errors(form.photo) }}</div>{{ form_widget(form.photo) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.type) }}</th>
			<td><div class="errors">{{ form_errors(form.type) }}</div>{{ form_widget(form.type, {'attr':{'class':'full_width form-control'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.location) }}</th>
			<td><div class="errors">{{ form_errors(form.location) }}</div>{{ form_widget(form.location, {'attr':{'class':'full_width form-control'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.movement) }}</th>
			<td><div class="errors">{{ form_errors(form.movement) }}</div>{{ form_widget(form.movement, {'attr':{'class':'full_width form-control'}}) }}</td>
		</tr>
		<tr>
			<th>{{ form_label(form.biography) }}</th>
			<td><div class="errors">{{ form_errors(form.biography) }}</div>{{ form_widget(form.biography, {'attr':{'class':'full_width form-control'}}) }}</td>
		</tr>
	</table>
	<hr />
	{{ form_widget(form.save, {'icon': 'fa-save'}) }}
	{{ form_rest(form) }}
{{ form_end(form) }}

{% endblock %}