{% extends generic_layout %}

{% block head_title %}Admin Type{% endblock %}
{% block main_title %}Administration - Type{% endblock %}

{% block main_content %}
	<table class="admin_show">
		<tr>
			<th>Titre</th>
			<td>{{ entity.title }}</td>
		</tr>
		<tr>
			<th>Texte</th>
			<td>{{ entity.text|raw }}</td>
		</tr>
		<tr>
			<th>Photo</th>
			<td><p class="center">{{ ("photo/type/"~entity.photo)|max_size_image(app.request.basepath) }}</p></td>
		</tr>
	</table>
	<hr>
	<a href="{{ path('typeadmin_edit', { 'id' : entity.id }) }}"><i class="fa fa-edit"></i> Modifier</a> - <a href="{{ path('typeadmin_new') }}"><i class="fa fa-plus-square"></i> Créer</a>
{% endblock %}