{% set senderName = "Une personne" %}

{% if data.firstName is not null %}
	{% set senderName = data.firstName %}
	
	{% if data.lastName is not null %}
		{% set senderName = senderName ~ " " ~ data.lastName %}
	{% endif %}
{% endif %}

{% set authorPainting = entity.biography.title %}

<p>{{ senderName }} (<a href="mailto:{{ data.yourMail }}">{{ data.yourMail }}</a>) vous a envoyé cette peinture réalisée par <b>{{ authorPainting }}</b> et intitulée <u><i>{{ entity.title }}</i></u>.</p>

{{ data.message|raw }}

<hr>
<img src="{{ app.request_stack.currentrequest.uri}}photo/painting/{{ entity.photo }}" />
<br>
<br>
{{ entity.text|raw }}

<hr>

<p>Cette peinture a été envoyée depuis <a href="" alt="Pinturus">Pinturus</a></p>